<?xml version="1.0"?>
<ruleset name="Veloflott Coding Standards">
    <description>Veloflott PHP CodeSniffer configuration</description>

    <!-- Arguments -->
    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="parallel" value="75"/>
    <arg value="p"/>

    <!-- Paths to check -->
    <file>app</file>
    <file>src</file>
    <file>tests</file>

    <!-- Exclude paths -->
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/storage/*</exclude-pattern>
    <exclude-pattern>*/bootstrap/cache/*</exclude-pattern>
    <exclude-pattern>*/database/migrations/*</exclude-pattern>
    <exclude-pattern>*/*.blade.php</exclude-pattern>
    <exclude-pattern>*/OpenApi/OpenApi.php</exclude-pattern><!-- OpenAPI doc file with multiple classes -->

    <!-- Use PSR-12 coding standard -->
    <rule ref="PSR12">
        <!-- Allow snake_case for test methods -->
        <exclude name="PSR1.Methods.CamelCapsMethodName.NotCamelCaps"/>
    </rule>

    <!-- Additional rules -->
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.Commenting.Todo"/>
    <rule ref="Generic.PHP.DeprecatedFunctions"/>
    <rule ref="Generic.PHP.ForbiddenFunctions"/>

    <!-- Lines can be 120 chars long, show errors at 120 chars -->
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="150"/>
        </properties>
    </rule>

    <!-- Require strict types declaration -->
    <rule ref="Generic.PHP.RequireStrictTypes"/>

    <!-- Ban some functions -->
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array">
                <element key="sizeof" value="count"/>
                <element key="delete" value="unset"/>
                <element key="print" value="echo"/>
                <element key="var_dump" value="null"/>
                <element key="dd" value="null"/>
                <element key="dump" value="null"/>
            </property>
        </properties>
    </rule>
</ruleset>
